
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
    <div>
        <a class="navbar-brand text-white d-flex justify-content-between align-items-center" [routerLink]="['/']">
            <img src="../../../assets/img.png" width="30" height="30" alt="" />
            <h2 class="mx-4">Share Point</h2>   
          </a>
    </div>
      <div id="navbarNav">
        <div class="navbar-nav ml-auto align-items-center">
            <div *ngIf="user" class="navbar-text float-left text-white margin-bottom cursore-pointer">
              <a [routerLink]="['/profile']" class="nav-item nav-link text-white">
              <img
              [src]="user.picture"
               alt="userprofilepic"
               width="40px"
               height="35px"
               class="mx-2 rounded-circle"
              >
            Welcome {{user?.username | uppercase}}
            </a>
            </div>
            <a class="nav-item nav-link text-white" [routerLink]="['/']">Home</a>
            <a
              *ngIf="!uid"
              class="nav-item nav-link text-white"
              routerLinkActive="active"
              [routerLink]="['/signin']"
              >Signin</a
            >
            <a
              *ngIf="!uid"
              class="nav-item nav-link text-white"
              routerLinkActive="active"
              [routerLink]="['/signup']"
              >Signup</a
            >
            <a *ngIf="uid" class="nav-item nav-link text-white cursore-pointer" (click)="handelSignOut()"
              >Logout</a
            >
            <button CLASS="btn btn-warning" *ngIf="uid" (click)="addPost()">
                Add Post
            </button>
          </div>
      </div>
    </div>
  </nav>