<div class="container">
    <div class="row mt-5">
      <div class="col col-6 offset-3">
        <div
          class="card bg-light"
        >
          <div
            class="card-header text-center text-uppercase text-info"
          >
            Sign In Please
          </div>
          <div
            class="card-body"
          >
            <form [formGroup]="signInForm">
              <div class="form-group row my-3">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Enter Email"
                    required
                  />
                  <div class="text-danger" *ngIf="signInForm.controls.email.touched || signInForm.controls.email.dirty">
                    <div *ngIf="signInForm.controls.email.errors.required">Email is required</div>
                    <div *ngIf="signInForm.controls.email.errors.email">Please enter a valid email id.</div>
                </div>
                </div>
              </div>
              <div class="form-group row my-3">
                <label for="password" class="col-sm-3 col-form-label"
                  >Password</label
                >
                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    formControlName="password"
                    placeholder="Enter password"
                    required
                  />
                  <div class="text-danger" *ngIf="signInForm.controls.password.touched || signInForm.controls.password.dirty">
                    <div *ngIf="signInForm.controls.password.errors.required">Password is required</div>
                    <!-- <div *ngIf="signUpForm.controls.password.errors.minLength">Password must be of atleast 6 character.</div> -->
                </div>
  
                  <small class="form-text text-center text-muted">
                    minimun length of the password should be 6.
                  </small>
                </div>
              </div>
              <div class="text-center mt-5">
                <button class="btn btn-secondary mx-2" (click)="reset()">
                  Reset
                </button>
                <button
                  class="btn btn-primary mx-2"
                  type="submit"
                  [disabled]="signInForm.invalid"
                  (click)="onSubmit()"
                >
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  